USE [master]
GO
/****** Object:  Database [FishDB]    Script Date: 6/25/2026 7:40:30 AM ******/
CREATE DATABASE [FishDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FishDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FishDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FishDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FishDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FishDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FishDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accessories]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Modified] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedByName] [nvarchar](100) NOT NULL,
	[ProductId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Author] [nvarchar](100) NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SelectedGender] [nvarchar](20) NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FishBatches]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FishBatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OriginFarm] [nvarchar](200) NOT NULL,
	[ImportDate] [datetime2](7) NOT NULL,
	[QuarantineStatus] [nvarchar](50) NOT NULL,
	[InitialQuantity] [int] NOT NULL,
	[CurrentQuantity] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedByName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryCommits]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCommits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [nvarchar](100) NOT NULL,
	[StaffName] [nvarchar](100) NOT NULL,
	[CommitMessage] [nvarchar](500) NOT NULL,
	[TargetType] [nvarchar](50) NOT NULL,
	[TargetId] [int] NULL,
	[TargetName] [nvarchar](200) NOT NULL,
	[OldValue] [nvarchar](1000) NULL,
	[NewValue] [nvarchar](1000) NULL,
	[Created] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[SelectedGender] [nvarchar](20) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](20) NOT NULL,
	[ShippingMethod] [nvarchar](50) NOT NULL,
	[PackagingFee] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BioParameters] [nvarchar](max) NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[CareInstructions] [nvarchar](2000) NULL,
	[Environment] [nvarchar](2000) NULL,
	[Gender] [nvarchar](2000) NULL,
	[MaleStock] [int] NOT NULL,
	[FemaleStock] [int] NOT NULL,
	[PairPrice] [decimal](18, 2) NULL,
	[TempMin] [decimal](5, 2) NULL,
	[TempMax] [decimal](5, 2) NULL,
	[PhMin] [decimal](4, 2) NULL,
	[PhMax] [decimal](4, 2) NULL,
	[Hardness] [nvarchar](100) NULL,
	[MaxSize] [nvarchar](100) NULL,
	[Diet] [nvarchar](500) NULL,
	[Compatibility] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[OrderId] [int] NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](2000) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReviewImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TankFishTrackings]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TankFishTrackings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TankName] [nvarchar](100) NOT NULL,
	[ProductId] [int] NOT NULL,
	[MaleCount] [int] NOT NULL,
	[FemaleCount] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[LastUpdatedBy] [nvarchar](100) NOT NULL,
	[LastUpdatedByName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/25/2026 7:40:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Salt] [varbinary](max) NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[UserType] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[LoyaltyPoints] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260505000000_AddOldPriceToProducts', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Accessories] ON 

INSERT [dbo].[Accessories] ([Id], [Name], [Type], [Quantity], [Unit], [Status], [Description], [IsActive], [Created], [Modified], [CreatedBy], [CreatedByName], [ProductId]) VALUES (1, N'Lọc treo Baoyu LX  | Tích hợp ống lắng tách cặn', N'Equipment', 20, NULL, N'Good', NULL, 1, CAST(N'2026-06-03T09:52:38.5200000' AS DateTime2), NULL, N'system', N'Dong bo thu cong', 18)
INSERT [dbo].[Accessories] ([Id], [Name], [Type], [Quantity], [Unit], [Status], [Description], [IsActive], [Created], [Modified], [CreatedBy], [CreatedByName], [ProductId]) VALUES (2, N'Hút Mặt Xẻ Rãnh Top Skimmer Ø60', N'Equipment', 20, N'', N'Good', N'', 1, CAST(N'2026-06-03T09:52:38.5200000' AS DateTime2), CAST(N'2026-06-22T14:03:42.9440309' AS DateTime2), N'system', N'Dong bo thu cong', 19)
INSERT [dbo].[Accessories] ([Id], [Name], [Type], [Quantity], [Unit], [Status], [Description], [IsActive], [Created], [Modified], [CreatedBy], [CreatedByName], [ProductId]) VALUES (3, N'Hút Đáy Hồ Koi KoiMaster – Giải Pháp Gom Cặn Hiệu Quả Cho Hồ Lọc Nổi', N'Equipment', 30, NULL, N'Good', NULL, 1, CAST(N'2026-06-03T09:52:38.5200000' AS DateTime2), NULL, N'system', N'Dong bo thu cong', 20)
SET IDENTITY_INSERT [dbo].[Accessories] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [LastUpdated]) VALUES (1, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-06-24T15:32:11.4742948' AS DateTime2))
INSERT [dbo].[Carts] ([Id], [UserId], [LastUpdated]) VALUES (2, N'7a5d58c0-30f6-43bd-8324-6bd91714db67', CAST(N'2026-06-02T14:05:46.5323155' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Cá Thủy Sinh (Hiền lành)', N'Các loại cá nhỏ, bơi đàn, phù hợp bể có cây thủy sinh.')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Cá Săn Mồi & Cá Lớn', N'Cá có tập tính lãnh thổ cao, ăn thịt, cần ghép cẩn thận.')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Thiết Bị & Phụ Kiện', N'Hệ thống lọc, đèn, máy sủi và đồ trang trí.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryCommits] ON 

INSERT [dbo].[InventoryCommits] ([Id], [StaffId], [StaffName], [CommitMessage], [TargetType], [TargetId], [TargetName], [OldValue], [NewValue], [Created]) VALUES (1, N'7a5d58c0-30f6-43bd-8324-6bd91714db67', N'Bùi Đức Bằng', N'Trí đã kiểm tra vào ngày 3/6/2026', N'Fish', 11, N'Cá Bảy Màu (Guppy)', NULL, N'{"MaleCount":10,"FemaleCount":0}', CAST(N'2026-06-03T09:05:35.5554725' AS DateTime2))
INSERT [dbo].[InventoryCommits] ([Id], [StaffId], [StaffName], [CommitMessage], [TargetType], [TargetId], [TargetName], [OldValue], [NewValue], [Created]) VALUES (2, N'7a5d58c0-30f6-43bd-8324-6bd91714db67', N'Bùi Đức Bằng', N'Xoá bể: Cá Bảy Màu (Guppy)', N'Fish', 11, N'Cá Bảy Màu (Guppy)', N'{"MaleCount":10,"FemaleCount":0}', NULL, CAST(N'2026-06-03T09:07:38.9129009' AS DateTime2))
INSERT [dbo].[InventoryCommits] ([Id], [StaffId], [StaffName], [CommitMessage], [TargetType], [TargetId], [TargetName], [OldValue], [NewValue], [Created]) VALUES (3, N'7a5d58c0-30f6-43bd-8324-6bd91714db67', N'Bùi Đức Bằng', N'Đã kiểm tra bởi Bằng', N'Fish', 8, N'Cá Bảy Màu (Guppy)', N'{"MaleCount":97,"FemaleCount":97,"Notes":null}', N'{"MaleCount":20,"FemaleCount":0}', CAST(N'2026-06-03T09:16:04.6235496' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[InventoryCommits] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [SelectedGender]) VALUES (1, 1, 11, 1, CAST(30000.00 AS Decimal(18, 2)), N'Cặp')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [SelectedGender]) VALUES (2, 2, 10, 1, CAST(160000.00 AS Decimal(18, 2)), N'Cặp')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [SelectedGender]) VALUES (3, 3, 22, 1, CAST(400000.00 AS Decimal(18, 2)), N'Cặp')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [DepositAmount], [CustomerName], [CustomerPhone], [ShippingMethod], [PackagingFee]) VALUES (1, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-05-25T08:33:36.3751581' AS DateTime2), CAST(30000.00 AS Decimal(18, 2)), N'Completed', N'Ấp 4, Xã Thới Bình, Cà Mau', CAST(15000.00 AS Decimal(18, 2)), N'Cao Việt Nhật', N'0827027392', N'Standard', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [DepositAmount], [CustomerName], [CustomerPhone], [ShippingMethod], [PackagingFee]) VALUES (2, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-05-25T09:22:14.0526824' AS DateTime2), CAST(160000.00 AS Decimal(18, 2)), N'Completed', N'200 Hoàng Quốc Việt, Hà Nội', CAST(80000.00 AS Decimal(18, 2)), N'Bùi Đức Bằng', N'0949880099', N'Standard', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [DepositAmount], [CustomerName], [CustomerPhone], [ShippingMethod], [PackagingFee]) VALUES (3, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-06-02T09:36:21.1450182' AS DateTime2), CAST(465000.00 AS Decimal(18, 2)), N'Completed', N'Ấp 4, Thới Bình, Cà Mau', CAST(232500.00 AS Decimal(18, 2)), N'Cao Việt Nhật', N'0827027392', N'Standard', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [OrderId], [Rating], [Comment], [CustomerName], [CreatedAt], [ReviewImageUrl]) VALUES (1, 11, N'10cea924-cd1f-4219-b767-115544b9a0ac', 1, 5, N'Cá sống khỏe, giá phải chăng, Tư vấn nhiệt tình', N'Cao Việt Nhật', CAST(N'2026-05-25T08:56:01.6560340' AS DateTime2), NULL)
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [OrderId], [Rating], [Comment], [CustomerName], [CreatedAt], [ReviewImageUrl]) VALUES (2, 320, N'10cea924-cd1f-4219-b767-115544b9a0ac', 8, 5, N'Cá đẹp sống khỏe', N'Cao Việt Nhật', CAST(N'2026-06-24T06:32:34.7414760' AS DateTime2), NULL)
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [OrderId], [Rating], [Comment], [CustomerName], [CreatedAt], [ReviewImageUrl]) VALUES (3, 319, N'10cea924-cd1f-4219-b767-115544b9a0ac', 10, 5, N'Cá đẹp', N'Cao Việt Nhật', CAST(N'2026-06-24T07:16:11.0680525' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[TankFishTrackings] ON 

INSERT [dbo].[TankFishTrackings] ([Id], [TankName], [ProductId], [MaleCount], [FemaleCount], [Notes], [LastUpdated], [LastUpdatedBy], [LastUpdatedByName]) VALUES (1, N'Cá Neon Tetra (Size M)', 1, 250, 250, NULL, CAST(N'2026-06-22T14:03:40.5635113' AS DateTime2), N'7a5d58c0-30f6-43bd-8324-6bd91714db67', N'Bùi Đức Bằng')
INSERT [dbo].[TankFishTrackings] ([Id], [TankName], [ProductId], [MaleCount], [FemaleCount], [Notes], [LastUpdated], [LastUpdatedBy], [LastUpdatedByName]) VALUES (2, N'Cá La Hán Khỉ Đỏ', 3, 5, 0, N'Chưa phân loại giới tính', CAST(N'2026-06-03T08:54:05.6000000' AS DateTime2), N'system', N'Dong bo thu cong')
INSERT [dbo].[TankFishTrackings] ([Id], [TankName], [ProductId], [MaleCount], [FemaleCount], [Notes], [LastUpdated], [LastUpdatedBy], [LastUpdatedByName]) VALUES (3, N'Cá Lóc Hoàng Đế', 4, 3, 0, N'Chưa phân loại giới tính', CAST(N'2026-06-03T08:54:05.6000000' AS DateTime2), N'system', N'Dong bo thu cong')
GO
SET IDENTITY_INSERT [dbo].[TankFishTrackings] OFF
GO
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created], [LoyaltyPoints]) VALUES (N'10cea924-cd1f-4219-b767-115544b9a0ac', N'Cao Việt Nhật', N'user', N'+V2Gi8DwlIa95YDuNMABBsD6Uq0LITqhtdQcmMcoa74=', 0x1A08B094C36694D4EB7A45E1BE540490, NULL, N'nhat123@gmail.com', N'0123456789', NULL, NULL, 1, 2, CAST(N'2026-04-25T21:02:18.7000910' AS DateTime2), 29)
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created], [LoyaltyPoints]) VALUES (N'4891aaa6-de76-43ff-9577-261a01b3e21c', N'quankho', N'quankho', N'GfMv7eypg/yceV7xKPCgm3QEBrf/TM17uJ1gzysUqus=', 0x07B53CF44A2A649F7275C537CBAD3C37, NULL, N'quankho123@gmail.com', N'0949880099', N'Kiểm kho và nhân viên kỹ thuật', NULL, 1, 3, CAST(N'2026-06-03T08:02:10.2294938' AS DateTime2), 0)
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created], [LoyaltyPoints]) VALUES (N'7a5d58c0-30f6-43bd-8324-6bd91714db67', N'Bùi Đức Bằng', N'admin', N'3VSgQP8yYkGaWrcLab+8lqXvYYceBByTpFvlTp3croI=', 0x32B20BA5D3590A5F7B619252E830F70A, NULL, N'ducbang1310@gmail.com', N'034595285', NULL, NULL, 1, 1, CAST(N'2026-04-24T09:54:29.0179610' AS DateTime2), 0)
GO
/****** Object:  Index [UIX_Accessories_ProductId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Accessories_ProductId] ON [dbo].[Accessories]
(
	[ProductId] ASC
)
WHERE ([ProductId] IS NOT NULL AND [IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_CartId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_CartId] ON [dbo].[CartItems]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_ProductId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_ProductId] ON [dbo].[CartItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Carts_UserId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Carts_UserId] ON [dbo].[Carts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FishBatches_ProductId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_FishBatches_ProductId] ON [dbo].[FishBatches]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryCommits_Created]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryCommits_Created] ON [dbo].[InventoryCommits]
(
	[Created] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InventoryCommits_StaffId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryCommits_StaffId] ON [dbo].[InventoryCommits]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UIX_Reviews_OrderId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Reviews_OrderId] ON [dbo].[Reviews]
(
	[OrderId] ASC
)
WHERE ([OrderId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TankFishTrackings_ProductId]    Script Date: 6/25/2026 7:40:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_TankFishTrackings_ProductId] ON [dbo].[TankFishTrackings]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accessories] ADD  DEFAULT (N'Accessory') FOR [Type]
GO
ALTER TABLE [dbo].[Accessories] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Accessories] ADD  DEFAULT (N'Good') FOR [Status]
GO
ALTER TABLE [dbo].[Accessories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accessories] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Accessories] ADD  DEFAULT (N'') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Accessories] ADD  DEFAULT (N'') FOR [CreatedByName]
GO
ALTER TABLE [dbo].[FishBatches] ADD  DEFAULT (N'Pending') FOR [QuarantineStatus]
GO
ALTER TABLE [dbo].[FishBatches] ADD  DEFAULT ((0)) FOR [InitialQuantity]
GO
ALTER TABLE [dbo].[FishBatches] ADD  DEFAULT ((0)) FOR [CurrentQuantity]
GO
ALTER TABLE [dbo].[FishBatches] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FishBatches] ADD  DEFAULT (N'') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[FishBatches] ADD  DEFAULT (N'') FOR [CreatedByName]
GO
ALTER TABLE [dbo].[InventoryCommits] ADD  DEFAULT (N'') FOR [StaffId]
GO
ALTER TABLE [dbo].[InventoryCommits] ADD  DEFAULT (N'') FOR [StaffName]
GO
ALTER TABLE [dbo].[InventoryCommits] ADD  DEFAULT (N'') FOR [CommitMessage]
GO
ALTER TABLE [dbo].[InventoryCommits] ADD  DEFAULT (N'') FOR [TargetType]
GO
ALTER TABLE [dbo].[InventoryCommits] ADD  DEFAULT (N'') FOR [TargetName]
GO
ALTER TABLE [dbo].[InventoryCommits] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [CustomerPhone]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Standard') FOR [ShippingMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [PackagingFee]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [MaleStock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [FemaleStock]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (N'') FOR [Comment]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TankFishTrackings] ADD  DEFAULT ((0)) FOR [MaleCount]
GO
ALTER TABLE [dbo].[TankFishTrackings] ADD  DEFAULT ((0)) FOR [FemaleCount]
GO
ALTER TABLE [dbo].[TankFishTrackings] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[TankFishTrackings] ADD  DEFAULT (N'') FOR [LastUpdatedBy]
GO
ALTER TABLE [dbo].[TankFishTrackings] ADD  DEFAULT (N'') FOR [LastUpdatedByName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[Accessories]  WITH CHECK ADD  CONSTRAINT [FK_Accessories_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Accessories] CHECK CONSTRAINT [FK_Accessories_Products]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[FishBatches]  WITH CHECK ADD  CONSTRAINT [FK_FishBatches_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[FishBatches] CHECK CONSTRAINT [FK_FishBatches_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[TankFishTrackings]  WITH CHECK ADD  CONSTRAINT [FK_TankFishTrackings_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[TankFishTrackings] CHECK CONSTRAINT [FK_TankFishTrackings_Products]
GO
USE [master]
GO
